You have a new lead.
<p>
Name: <%= @lead.name %><br />
Email: <%= @lead.email_address %><br />
Phone: <%= @lead.phone %><br />
Subject: <%= @lead.subject %><br />
Message Body: <%= @lead.message_body %>
</p>

<%= link_to "Other Notifications", notifications_url %>
