
<div class="flex flex-row">
  <div class="lg:col-4 lg:offset-4">
    <h1 class="text-center">Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: "w-full px-4 py-2 rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500 text-gray-800" %>
        

      </div>

      <div class="mb-3">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: "w-full px-4 py-2 rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500  text-gray-800" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            Remember me
          </label>
        </div>
      <% end -%>

      <div class="mb-3 grid">
        <%= f.submit "Log in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg text-lg" %>

      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
