<!DOCTYPE html>
<html class="h-100">
  <head>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="d-flex flex-column h-100">
  
<div class="grid grid-cols-1 md:grid-cols-5 md:h-screen">
  <div  id="navbar-for-phone" class=" bg-gray-800 text-white md:col-span-1 md:h-full ">
    <!-- Logo and hamburger button for small screens -->
    <div class="md:hidden flex items-center justify-start px-4 py-3">
      <div>
        <button id="hamburger-button" type="button" class="block text-gray-500 hover:text-white focus:text-white focus:outline-none">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path
              class="hidden fill-gray-600"
              d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"
              />
            <path
              class="block fill-gray-600"
              d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"
              />
          </svg>
        </button>
      </div>
      <div>
        <!-- Logo here -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="50" height="50">
          <!-- Draw the face -->
          <circle cx="50" cy="50" r="40" fill="yellow"/>

          <!-- Draw the eyes -->
          <circle cx="35" cy="40" r="5" fill="black"/>
          <circle cx="65" cy="40" r="5" fill="black"/>

          <!-- Draw the mouth -->
          <path d="M 35 60 Q 50 70 65 60" fill="none" stroke="black" stroke-width="3"/>
        </svg>

      </div>
    </div>
    <!-- Navigation for small and medium screens -->
    <nav id="nav-menu" class="hidden md:block px-2 pt-2 md:pt-0 md:col-span-1 md:h-full" >
      <!-- Navigation links here -->

      <ul class="list-none">
        <li><a href="#" class=cursor-pointerblock px-2 py-1 text-white font-semibold rounded hover:bg-gray-800">Home</a>
        </li>

      <li class="cursor-pointer">
        <div class="flex items-center justify-between">
          <span >Dice Media Group</span>
          <svg class="h-4 w-4 fill-current transform transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M6 8l4 4 4-4"></path>
          </svg>
        </div>
        <ul class="ml-6 hidden">
                <li><%= link_to "Our Story", about_us_path %></li>
                <li><%= link_to "Press Kit", press_path %></li>
                <li><%= link_to "events", events_path %></li>
                <li><%= link_to "books", books_path %>
                <li><%= link_to "Contact", contact_us_path %>
        </ul>
      </li>
      <li class="cursor-pointer">
        <div class="flex items-center justify-between">
          <span >What we say</span>
          <svg class="h-4 w-4 fill-current transform transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M6 8l4 4 4-4"></path>
          </svg>
        </div>
        <ul class="ml-6 hidden">
          <li><%= link_to "What we say", content_path %> 
          <li><%= link_to "The Show", videos_path %></li>
          <li><%= link_to "The Podcast", podcasts_path %></li>
          <li><%= link_to "The Blog", blogs_path %></li>
          <li><%= link_to "Social Highlights", social_highlights_path %></li>
          <li><%= link_to "Wallpapers", wallpapers_path %></li>
        </ul>
      </li>
      <li><%= link_to "Contact", contact_us_path %>
    </ul>



    </nav>
  </div>
  <main class="col-span-1 md:col-span-4 px-4 py-8 overflow-y-auto ">


    <!-- <main class="flex-shrink-0"> -->
      <%#= render 'shared/navbar' %>
      <%#= render 'shared/notices' %>

     <!-- <div class="container mt-4 mx-auto"> --> 
        <%= yield %>
      <!-- </div> -->
    </main>

    <%= render 'shared/footer' %>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
      // JavaScript code to toggle sublist
        const headings = document.querySelectorAll('.cursor-pointer');
        headings.forEach(heading => {
          heading.addEventListener('click', function() {
            const sublist = this.querySelector('ul');
            sublist.classList.toggle('hidden');
            const icon = this.querySelector('svg');
            icon.classList.toggle('rotate-180');
          });
        });
        // JavaScript code to toggle hamburger menu
        const hamburgerButton = document.getElementById("hamburger-button");
        const navMenu = document.getElementById("nav-menu");

        hamburgerButton.addEventListener("click", function() {
          navMenu.classList.toggle("hidden");
        });

      });


    </script>

 
  </body>
</html>
